@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  color: white;
  background: url("./images/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}
button {
  border: 0;
}

button:hover {
  cursor: pointer;
}
input {
  border: 0;
}
button:focus,
input:focus {
  outline: 0;
}
.form {
  padding: 30px 20px 20px;
}
.form input,
button {
  font-size: 1em;
  padding: 5px 10px;
  color: #122ab4;
  letter-spacing: 1px;
}
.form button {
  background-color: #ff5c21;
  color: white;
}
.loading {
  text-align: center;
  padding: 150px 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease-in;
}
.card:hover {
  transform: translateY(-3px) scale(1.06);
}
.hero {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-template-rows: minmax(150px, auto);
  row-gap: 30px;
  column-gap: 20px;
}
.news {
  overflow: hidden;
  background: #222;
  position: relative;
}
.c {
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 5px;
}

.c span {
  font-size: 1em;
  color: #afafaf;
}

.c p {
  display: inline;
  font-size: 1em;
  color: #96a5fd;
}
.title p {
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #ff5c21;
}
.del {
  background: #ff5c21;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 5px;
  padding: 5px 10px;
}
